{% extends "base.html" %}

{% block title %}Detalle del Evento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">{{ evento.nombre }}</h2>
    <div class="card p-4 shadow">
        <div class="mb-3">
            <strong>Descripción:</strong>
            <p>{{ evento.descripcion }}</p>
        </div>
        <div class="mb-3">
            <strong>Ubicación:</strong>
            <p>{{ evento.ubicacion }}</p>
        </div>
        <div class="mb-3">
            <strong>Fecha y Hora:</strong>
            <p>{{ evento.fecha_hora }}</p>
        </div>
        <div class="mb-3">
            <strong>Creador:</strong>
            <p>{{ evento.creador.email }}</p>
        </div>
        <div class="mb-3">
            <strong>Usuarios Inscritos:</strong>
            <ul>
                {% for usuario in evento.inscritos.all %}
                    <li>{{ usuario.email }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center">
            {% if evento.creador == user %}
                <div class="d-flex justify-content-center mb-3">
                    <a href="{% url 'editar_evento' evento.id %}" class="btn btn-warning mx-2">Editar</a>
                    <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-danger mx-2">Eliminar</a>
                </div>
            {% elif not inscrito %}
                <form method="post" action="{% url 'inscribirse_evento' evento.id %}" class="mb-3">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="inscribirse">
                    <button type="submit" class="btn btn-primary mx-2">Inscribirse</button>
                </form>
            {% else %}
                <p class="text-success mb-3">Ya estás inscrito en este evento.</p>
                <form method="post" action="{% url 'inscribirse_evento' evento.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="cancelar">
                    <button type="submit" class="btn btn-danger mx-2">Cancelar Inscripción</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
